name: Notify Parent Repositories

on:
  push:
    branches:
      - master

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get parent repositories
        run: |
          PARENT_REPOS=$(gh api /repos/${GITHUB_REPO}/submodule-users | jq -r '.[] | .full_name')
          echo "PARENT_REPOS=$PARENT_REPOS" >> $GITHUB_ENV

      - name: Notify parent repositories
        run: |
          for REPO in $PARENT_REPOS; do
            gh api --method POST /repos/$REPO/actions/workflows/update-submodule/dispatches --input '{"ref":"main"}'
          done
