name: Notify Parent Repositories

on:
  push:
    branches:
      - master  # Change to the default branch of the `test` repository

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout submodule repository
        uses: actions/checkout@v3

      - name: Run Python script
        run: |
          python3 -mvenv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python3 .github/workflows/notify_parent_repositories.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
